# https://just-the-docs.github.io/just-the-docs/docs/configuration/

title: Fire2a Documentation
description: Fire2a research group documentation for published tools
theme: just-the-docs
url: "https://fdobad.github.io/docs"
repository: fdobad/docs

# color_scheme: nil

aux_links:
  "View on github": https://github.com/fdobad/docs

aux_links_new_tab: true

heading_anchors: true

logo: "/assets/images/f2a-icon.png"
favicon_ico: "/assets/images/favicon.ico"

exclude:
 # from https://github.com/jekyll/jekyll/blob/master/lib/site_template/_config.yml:
   - .sass-cache/
   - .jekyll-cache/
   - gemfiles/
   - Gemfile
   - Gemfile.lock
   - node_modules/
   - vendor/bundle/
   - vendor/cache/
   - vendor/gems/
   - vendor/ruby/
 # specific to the theme website:
   - bin/
   - lib/
   - "*.gemspec"
   - "*.gem"
   - LICENSE.txt
   - package.json
   - package-lock.json
   - Rakefile
   - README.md
   - CODE_OF_CONDUCT.md
   - docker-compose.yml
   - Dockerfile
 # theme test code
   - fixtures/

# Enable or disable the site search
# Supports true (default) or false
search_enabled: true

search:
  # Split pages into sections that can be searched individually
  # Supports 1 - 6, default: 2
  heading_level: 2
  # Maximum amount of previews per search result
  # Default: 3
  previews: 3
  # Maximum amount of words to display before a matched word in the preview
  # Default: 5
  preview_words_before: 5
  # Maximum amount of words to display after a matched word in the preview
  # Default: 10
  preview_words_after: 10
  # Set the search token separator
  # Default: /[\s\-/]+/
  # Example: enable support for hyphenated search words
  tokenizer_separator: /[\s/]+/
  # Display the relative url in search results
  # Supports true (default) or false
  rel_url: true
  # Enable or disable the search button that appears in the bottom right corner of every page
  # Supports true or false (default)
  button: false

callouts:
  # grey-lt, grey-dk, purple, blue, green, yellow, red
  success:
    title: Success
    color: green
    opacity: 0.3
  info:
    title: Information
    color: blue
    opacity: 0.3
  warning:
    title: Warning
    color: yellow
    opacity: 0.3
  critical:
    title: Critical
    color: red
    opacity: 0.3

plugins:
  - jekyll-avatar
